@model AdvertisingAgency.Models.ViewModels.Account.UserProfileVM

@{
    ViewBag.Title = "Order";
}

<h2>Заполните ваши данные</h2>

@if (TempData["M"] != null)
{
    <div class="alert alert-danger">
        @TempData["M"]
    </div>
}

@if (TempData["I"] != null)
{
    <div class="alert alert-info">
        @TempData["I"]
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @if (TempData["I"] == null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EmailAdress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.EmailAdress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailAdress, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <!--Если пользователь авторизован-->
        @if (TempData["I"] == null && Request.IsAuthenticated)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Отправить заказ" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
}